/* body {
  height: 100vh;
  width: 100%;
} */

.modalBack {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.4);
  display: grid;
  place-items: center;
}

.modalView {
  width: 100%;
  height: 500px;
  background-color: #ffffff;
  display: flex;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
}

.login {
  background-image: url(./images/stars.jpg);
  background-size: cover;
  width: 50%;
  height: 100%;
  transition: all 1s linear;
}

.log_signup {
  /* background-color: red; */
  width: 50%;
  height: 100%;
  /* transition: all 1s linear; */
}

.move {
  transform: translateX(100%);
}

.move1 {
  transform: translateX(-100%);
}

.container {
  height: 500px;
  width: 60%;
  position: relative;
}